h1 {
    color: rgb(0, 111, 128);
}

p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: rgb(34, 34, 34);
    margin: 20px;
}

h2 {
    color: hsl(188, 100%, 25%);
}

nav a {
    color: rgb(0, 111, 128);
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid rgb(0, 111, 128);
    display: inline-block;
}

/* Calculator inputs */
#first-number,
#second-number {
    background-color: rgb(255, 162, 0);
    padding: 6px;
    border: 2px solid rgb(0, 111, 128);
    margin: 5px;
}
