*{
    margin: 0;
    box-sizing: border-box;
}

/*Centering the page*/
#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

/*Header starts*/
header{
    padding: 1%;
    background-color: rgb(0, 111, 128);
    color: mintcream;
}
/*Header ends*/

/*Two column container starts:*/

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav{
    background-color: lightblue;
    width: 30%;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav li{
    width: 80%;
    border: 2px solid rgb(0, 111, 128);
    padding: 1%;
    margin: 18% auto;
    text-align: center;
    background-color: white;
}

nav a{
    text-decoration: none;
    font-size: calc(2px + 1.3vw);
}

main{
    padding: 1% 2%;
    /*at least 100vh*/
    min-height: 125vh;
    background-color: mintcream;
    text-align: center;
    width: 70%;
    height: auto;
}

#this-one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

main p{
    line-height: 100%;
    font-size: calc(13px + .3vw);
    padding: 2%;
}

main h2{
    text-align: center;
    margin: 2% 0;
    font-size: calc(5px + 4vw);
    color: rgb(0, 111, 128);
}

main img{
    max-width: 40%;
}

/*
    height and width: vw or vh
    margin and padding: %
    font-size: calc(2px + 1.5vw);
    img: max-width: 100% (do not exceed 100)
*/


/*Two column container ends*/

footer{
    background-color: rgb(0, 111, 128);
    color: mintcream;
    padding: 1%;
    text-align: center;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: mintcream;
}

.pages{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.pages h3{
    margin: 2% 0;
    font-size: calc(2px + 2vw);
    color: black;
    padding-left: 10px;
}

@media  screen and (max-width: 1000px) {
    #nav-main{
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav li{
        width: 18%;
        padding: 1%;
        margin: 1%;
    }

    #this-one{
        flex-direction: column;
    }

    header{
        text-align: center;
    }

    main{
        height: 100vh;
        min-height: 125vh;
    }

}